<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <link rel="stylesheet" href="FyR.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>

    <div class="forgpass">

        <div class="image-container">
            <img src="https://i.pinimg.com/736x/e8/40/4d/e8404d48e49145f22fab7281b0babe66.jpg" alt="image">
        </div>

        <form action="/forgot-password" method="POST">
            <h1>Recuperar Contraseña</h1>
            <div class="form-group">
                <label for="correo">Correo:</label>
                <input type="email" id="correo" name="correo" required />
            </div>
            <div class="g-recaptcha" data-sitekey="<%= sitekey %>"></div>
            <button type="submit">Enviar enlace de restablecimiento</button>
        </form>
    </div>

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const catchaResponse = grecaptcha.getResponse();
            if (catchaResponse.length === 0) {
                alert('Por favor, completa el captcha.');
            } else {
                const fd = new FormData(e.target);
                const params = new URLSearchParams(fd);
                fetch(form.action, {
                    method: form.method,
                    body: params,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.captchaSuccess) {
                        alert('Se ha enviado un enlace de restablecimiento a su correo.');
                    } else {
                        alert('Error: ' + data.message);
                    }
                }).then(() => {
                    grecaptcha.reset();
                })
                .catch(error => {
                    console.error('Error:', error);
                })
            }
        });
    </script>
</body>
</html>
