<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="dashboard">
        <aside class="sidebar">
            <div class="top">
                <div class="logo">
                    <img src="./img/logo.jpeg" alt=""> 
                    <span>pepe's</span>
                </div>
                <div class="toggle">
                    <i class='bx bx-x'></i>
                </div>
            </div>
            <%- include('rutas')%>
        </aside>
        
    <main class="content contenedorr"">
        <div class="image-container">
            <img src="./img/Bimage.jpg" alt="image">
        </div>

        <div class="login-container">
            
            <form action="/registrar" method="POST">
                <h2>Registro</h2>

                <label for="nombre_usuario">Usuario:</label>
                <input type="text" id="nombre_usuario" name="nombre_usuario" required>
                
                <label for="contrase単a">Contrase単a:</label>
                <input type="password" id="contrase単a" name="contrase単a" required>
                <label for="correo">Correo:</label>
                <input type="email" id="correo" name="correo" required>
                <button type="submit">Registro</button>
                <% if (errorMessage) { %>
                    <p class="errorMessage"><%= errorMessage %></p>
                <% } %>
                <% if (successMessage) { %>
                    <p class="successMessage"><%= successMessage %></p>
                <% } %>
            </form>
        </div>
    </main>
</body>
</html>
    